<div class="container">
  <div class="col-md-3">
    <h3>Search Here</h3><input placeholder="Search Here" name="n1" #f type="text" (keyup)="search(f.value)">

  </div>
  <div class="col-md-9">
<div class="row">
<table class="table" >
  <thead>
    <th>Id</th>
    <th>Title</th>
    <th>Status</th>
    <th>Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of arr" >
      <td>{{item.Id}}</td>
      <td>{{item.Title}}</td>
      <td>{{item.Status}}</td>
      <td><button class="btn btn-info" (click)="onTaskDelete(item)" >Delete</button>
      <button class="btn btn-info" (click)="onTaskEdit(item)"  >edit</button>
      </td>
    </tr>
  </tbody>
  </table>
  </div>
</div>
</div>
